@charset 'utf-8';

body {
    background-color: #cccccc;
    color: #000000;
}

div#main_tabs {
    display: none;
}

div#player-rename-dialog,
div#backup-dialog,
div#restore-dialog,
div#reset-dialog
{
    display: none;
}

.selected_mandant {
    font-weight: bold !important;
}

.text-right {
    text-align: right !important;    
}

fieldset {
    margin-top: 2em;
}

div#backup-dialog form textarea,
div#restore-dialog form textarea {
    font-family: monospace;
    font-size: 1em;
    height: 25em;
    width: 40em;
}

footer {
    margin-top: 3em;
    background-color: #ffffff;
    border: 0.1em solid #666666;
    color: #666666;
    border-radius: 1em;
    display: inline-block;
    width: auto;
    clear: both;
    float: right;
    padding: 1em;
}

footer p {
    font-size: 1.25em;
    font-weight: bold;
    font-family: monospace;
}

footer p img {
    vertical-align: middle;
}