@charset 'utf-8';

body {
    background-color: #cccccc;
    color: #000000;
}

div#main_tabs {
    display: none;
}

div#show-local-storage {
    font-family: monospace;
}

div#player-rename-dialog,
div#backup-dialog,
div#restore-dialog,
div#show-local-storage
{
    display: none;
}

.selected_mandant {
    font-weight: bold !important;
}

.text-right {
    text-align: right !important;    
}

fieldset {
    margin-top: 2em;
}

div#backup-dialog form textarea,
div#restore-dialog form textarea {
    font-family: monospace;
    font-size: 1em;
    height: 25em;
    width: 40em;
}
